# Copy this file to .env and fill in the values

# Database Stuff
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=kse_db

# Ports
WEB_PORT=3000
DB_PORT=5432

# Rails Environment
RAILS_ENV=development